@color-background: black;
@color-login-header-background: #1b1b1b;
@color-login-body-background: #272727;
@color-login-button: #0774b4;
@color-login-text: #eeeeee;


html,
body,
body:not(.menu-on-top).desktop-detected{
  height: 100% !important;
  min-height: 100% !important;
}

.login-container{
  position: absolute;
  top: 0;
  left: 0;
  //background-image: url('../img/login.jpg');
  width: 100%; 
  height: 100%;
  background-color:  @color-background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

fieldset{
  border: none;
}

.login {
  width: 320px;
  height: 400px;
  background-color: @color-login-header-background;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.login-header{
  width: 320px;
  height: 70px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: @color-login-header-background;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.07);
}

.login-body{
  width: 320px;
  height: 300px;
  border-radius: 5px;
  background-color: @color-login-body-background;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.07);
  .login-field{
    padding-top: 27px;

    section{
      margin-left: auto;
      margin-right: auto;
      width: 274px;
      height: 42px;
      border-radius: 5px 5px 0 0 ;
      background-color: @color-login-header-background;
      box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.07);
      .text-username{
        height: 53px !important;
      }
      .text-password{
        height: 53px !important;
      }
      label{
        color: @color-login-text !important;
        margin-left: 5px;
        top:12px;
        opacity: 0.5;
      }
    }

  }
}


.login-footer{
  width: 320px;
  height: 100px;
  border-radius: 5px;
  background-color: @color-login-header-background;
  box-shadow: 0px 6px 40px 0 rgba(0, 0, 0, 0.07);
}

.logo {
  width: 143px;
  height: 38px;
  object-fit: contain;
  margin-left: 89px;
  background-image: url('../img/logo.png');
}
.btn-acessar{
  width: 98px;
  height: 45px;
  border-radius: 5px;
  background-color: @color-login-button;
  box-shadow: 0px 6px 40px 0 rgba(0, 0, 0, 0.07);
  border: none;
  color: @color-login-text;
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
  cursor: pointer;
}

@import 'flags';

.login-language-picker-container{
  position: absolute;
  top:10px;
  right: 10px;

  div[class*="MuiInput-input-"], svg[class*="MuiSelect-icon-"]{
    color: @color-login-text
  }

  div[class*="MuiPaper-root-"]{
    background-color: @color-login-body-background;
    color: @color-login-text;
  }

  label{
    color:  @color-login-text;
    &[class*="MuiInputLabel-root-"]{
      color: white
    }
  }
}
