
html,
body,
body:not(.menu-on-top).desktop-detected{
  height: 100% !important;
  min-height: 100% !important;
}
body{
  //background-image: url('../img/login.jpg');
  background-color:  black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

fieldset{
  border: none;
}

.login {
  width: 320px;
  height: 400px;
  background-color: #1b1b1b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.login-header{
  width: 320px;
  height: 70px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #1b1b1b;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.07);
}

.login-body{
  width: 320px;
  height: 300px;
  border-radius: 5px;
  background-color: #272727;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.07);
  .login-field{
    padding-top: 27px;

    section{
      margin-left: auto;
      margin-right: auto;
      width: 274px;
      height: 42px;
      border-radius: 5px 5px 0 0 ;
      background-color: #1b1b1b;
      box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.07);
      .text-username{
        height: 53px !important;
      }
      .text-password{
        height: 53px !important;
      }
      label{
        color: #eeeeee !important;
        margin-left: 5px;
        top:12px;
        opacity: 0.5;
      }
    }

  }
}


.login-footer{
  width: 320px;
  height: 100px;
  border-radius: 5px;
  background-color: #1b1b1b;
  box-shadow: 0px 6px 40px 0 rgba(0, 0, 0, 0.07);
}

.logo {
  width: 143px;
  height: 38px;
  object-fit: contain;
  margin-left: 89px;
  background-image: url('../img/logo.png');
}
.btn-acessar{
  width: 98px;
  height: 45px;
  border-radius: 5px;
  background-color: #0774b4;
  box-shadow: 0px 6px 40px 0 rgba(0, 0, 0, 0.07);
  border: none;
  color: white;
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
  cursor: pointer;
}


