
.sidebar{
  position: fixed;
  bottom: 0;
  height: ~"calc(100% - 50px)";
  width: 260px;
  background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
  transition: width 0.2s linear;

  ul{
    padding: 20px 0 0;
    margin: 0;
    li.with-border{
      border-top: 3px solid rgba(0, 0, 0, .09);
    }
    li.with-border:last-child{
      border-bottom: 3px solid rgba(0, 0, 0, .09);
    }
    li.with-border:hover{
      background-color: rgba(0,0,0,0.05);
    }
    li{
      cursor: pointer;
      list-style-type: none;
      transition: background 0.2s;
      padding: 0 2px 8px 15px;
      svg{
        position: relative;
        top: 6px;
        fill: #c0bbb7 !important;
      }
      svg:hover{
        fill:#fff !important;
      }
      a {
        color: #c0bbb7 !important;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }

    }
    li:hover{

      svg{
        fill:#fff !important;
      }
      a{
        color: #ffffff !important;

      }
    }
  }

}

